<h3>ParentsPage</h3>

@if (Parents is not null)
{
    <table class="table">
        <thead>
        <tr>
            <th>FirstName</th>
            <th>LastName</th>
            <th>Age</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var parent in Parents)
        {
            <tr>
                <td>@parent.FirstName</td>
                <td>@parent.LastName</td>
                <td>@parent.Age</td>
            </tr>
        }
        </tbody>
    </table>
}
