@if (Display)
{
    <div class="modal-backdrop show"></div>

    <div class="modal fade show" 
         id="exampleModal" 
         tabindex="-1" 
         role="dialog" 
         aria-labelledby="exampleModal"
         aria-hidden="true"
         style="display: block">
    
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content confirmDelete">
                <div class="modal-header" style="border: 0;">
                    <h5 class="modal-title">Are you really want to delete: @Child.User.FirstName @Child.User.LastName?</h5>
                </div>
                <div class="modal-footer" style="border: 0; display: inline-block;">
                    <div class="row">
                        <div class="col-6">
                            <button class="btn submit" @onclick="Delete" type="button">Delete</button>
                        </div>
                        <div class="col-6">
                            <button class="btn submit" @onclick="OnCancel" type="button">Cancel</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}