<div class="row">
    <div class="col mb-3">
        @Child.FirstName @Child.LastName
    </div>
</div>
<div class="row">
    <div class="col mb-3">
        <span>Status: @Status </span>
    </div>
</div>
<div class="row">
    <div class="col mb-3">
        Age: @Child.Age
    </div>
</div>