<div class="row">
    <div class="col mb-3">
        <span>@Child.FirstName @Child.LastName</span>
    </div>
</div>
<div class="row">
    <div class="col mb-3">
        <span>Status: @Status</span>
    </div>
</div>
<div class="row">
    <div class="col mb-3">
        <span>Age: @Child.Age</span>
    </div>
</div>