.from_all_click {height: 200px;}
.from_details {height: 420px;}
.from_all_click, .from_details {
    border: 3px solid rgb(80, 200, 230);
    width: 250px;
    color: rgb(80, 200, 230);
    border-radius: 20px;
    text-align: center;
    font-size: 25px;
    padding: 10px;
    margin: 10px;
}
.from_all_click:hover{ cursor: pointer;}
.wrapper {
    min-height: 100vh;
    background-image: url(/img/LA.jpg);
    background-size: 100%;
    position: absolute;
    right: 0;
    top: 0;
    left: 250px;
    z-index: 2;
    background-repeat: no-repeat;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
}
.con {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

html, body {
    width: 100%;
    height: 100%;
}