.confirmDelete {
    background: none;
    color: rgb(80, 200, 230);
    border: 3px solid rgb(80, 200, 230);
    border-radius: 15px;
}

.input {
    width: 100%;
    background: none;
    color: rgb(80, 200, 230);
    min-height: 50px;
    border-radius: 15px;
    font-size: 20px;
    text-align: center;
    border: 3px solid rgb(80, 200, 230);
    appearance: none;
}

.input::placeholder {
    color: rgb(80, 200, 230);
    text-align: center;
}

.submit {
    width: 100%;
    color: rgb(80, 200, 230);
    height: 50px;
    border-radius: 15px;
    font-size: 20px;
    border: 3px solid rgb(80, 200, 230);
    background: none;
}

.submit:hover {
    cursor: pointer;
    color: rgb(80, 200, 230);
}

.main_add_new {
    height: 100px;
    border: 3px solid rgb(80, 200, 230);
    width: 250px;
    color: rgb(80, 200, 230);
    border-radius: 15px;
    text-align: center;
    font-size: 20px;
    padding: 10px;
    margin: 10px;
    padding-top: 30px;
}

.wrapper {
    min-height: 100vh;
    background-image: url(/img/LA_night.jpg);
    background-size: 100%;
    position: absolute;
    right: 0;
    top: 0;
    left: 250px;
    z-index: 2;
    background-repeat: no-repeat;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
}

.main_add_new:hover, .from_all_click:hover {
    cursor: pointer;
}

.from_all_click {
    height: 200px;
}

.from_details {
    height: 420px;
}

.from_all_click, .from_details {
    border: 3px solid rgb(80, 200, 230);
    width: 250px;
    color: rgb(80, 200, 230);
    border-radius: 15px;
    text-align: center;
    font-size: 20px;
    padding: 10px;
    margin: 10px;
}

.add_edit, .weather {
    min-height: 100vh;
    background-size: 100%;
    position: absolute;
    right: 0;
    top: 0;
    left: 250px;
    z-index: 2;
    background-repeat: no-repeat;
    padding: 20px;
}

.weather {
    background-image: url(/img/beach.jpg);
}

.add_edit {
    background-image: url(/img/LA_night.jpg);
}

.selected {
    z-index: 60;
    color: #d3d3d3;
    background-color: #424242;
    border: 1px solid lightgrey;
    padding: 5px;
}

.foo {
    color: rgb(80, 200, 230);
}

.selectedChildClose {
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1;
    color: red;
    text-shadow: 0 1px 0 #fff;
    opacity: .5;
    background: none;
    border: 0;
}

.item:hover, .selectedChildClose:hover {
    cursor: pointer;
}

html, body {
    width: 100%;
    height: 100%;
}
