@page "/children/{ChildId:int}"

<div class="wrapper">    
    <div class="from_details">
        <IndividualChildrenComponent Child="Child"/>
    </div>
    <div class="con">
        @foreach (var parent in Parents)
        {
            <div class="from_all_click" @onclick="() => RouteToParent(parent.Id)">
                <IndividualParentsComponent Parent="parent"/>
            </div>
        }
    </div>
</div>