@page "/children"

<div class="wrapper">
    @foreach (var child in Children)
    {
        <div class="from_all_click mt-3" @onclick="() => RouteToChild(child.Id)">
            <IndividualChildrenComponent Child="child"/>
        </div>
    }
</div>
