<EditForm Model="Genus" OnValidSubmit="Submit">
    <DataAnnotationsValidator />
    <ValidationSummary />
    <div class="row">
        <div class="col mb-2">
            <InputText @bind-Value="Genus.Name" placeholder="Name" class="input"/>
        </div>
    </div>
    <div class="row">
        <div class="col-6 mb-2">
            <select @bind="Mother">
                <option value="None">Mother</option>
                @foreach (var item in Mothers)
                {
                    <option value="@item">@item.FirstName @item.LastName</option>
                }
            </select>
        </div>
        <div class="col-6 mb-2">

        </div>
    </div>
    <div class="row">
        <div class="col">
            <button class="btn submit" type="submit">Submit</button>
        </div>
    </div>
</EditForm>