@page "/parents/{ParentId:int}"

<ConfirmRemoveParentComponent
    @ref="ConfirmRemoveParentComponent"
    OnShow="OnShow"
    OnCancel="OnCancel"
    Parent="Parent"
    ParentId="ParentId"/>

<div class="wrapper">    
    <div class="from_details">
        <IndividualParentsComponent Parent="Parent"/>
        <div class="row">
            <div class="col-6 mb-3">
                <button class="btn submit" @onclick="Edit">Edit</button>
            </div>
            <div class="col-6 mb-3">
                <button class="btn submit" @onclick="OnShow">Delete</button>
            </div>
        </div>
    </div>
    <div class="con">
        @foreach (var child in Children)
        {
            <div class="from_all_click" @onclick="() => RouteToChild(child.Id)">
                <IndividualChildrenComponent Child="child"/>
            </div>
            <div class="from_all_click" @onclick="() => RouteToChild(child.Id)">
                <IndividualChildrenComponent Child="child"/>
            </div>
            <div class="from_all_click" @onclick="() => RouteToChild(child.Id)">
                <IndividualChildrenComponent Child="child"/>
            </div>
        }
    </div>
</div>
