@page "/parents"

<div class="wrapper">
    @foreach (var parent in Parents)
    {
        <div class="from_all_click" @onclick="() => RouteToParent(parent.Id)">
            <IndividualParentsComponent Parent="parent"/>
        </div>
    }
</div>
