@page "/genus"

<div class="wrapper">
    @foreach (var genus in Genus)
    {
        <div class="from_all_click" @onclick="() => RouteToGenus(genus.Id)">
            <IndividualGenusComponent Genus="genus"/>
        </div>
    }
</div>