<div class="row">
    <div class="col mb-3">
        <span>@Parent.User.FirstName</span>
    </div>
</div>
<div class="row">
    <div class="col mb-3">
        <span>Gender: @Parent.User.Gender.Type</span>
    </div>
</div>
<div class="row">
    <div class="col mb-3">
        <span>Status: @Status</span>
    </div>
</div>
<div class="row">
    <div class="col mb-3">
        <span>Age: @Parent.User.BirthDay</span>
    </div>
</div>