<div class="row">
    <div class="col mb-3">
        <span>@Parent.FirstName @Parent.LastName</span>
    </div>
</div>
<div class="row">
    <div class="col mb-3">
        <span>Status: @Status</span>
    </div>
</div>
<div class="row">
    <div class="col mb-3">
        <span>Age: @Parent.Age</span>
    </div>
</div>