<div class="row">
    <div class="col mb-3">
        @Parent.FirstName @Parent.LastName
    </div>
</div>
<div class="row">
    <div class="col mb-3">
        <span>Status: @Status </span>
    </div>
</div>
<div class="row">
    <div class="col mb-3">
        Age: @Parent.Age
    </div>
</div>